
.head{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url(back.jpg);
    background-size: center;
    position: relative;
}


.container {
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 80vw;
    padding: 15px;
}

h2 {
    color: #403333;
}

.info {
    padding-left: 10%;
    display: flex;
    width: 85%;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    color: gray;
    border-radius: 5px;
    padding: 7px;

}

.details {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #7f21af;
    color: white;
    border-radius: 5px;
    padding: 7px;
}
.contact-items{
    display: flex;
    align-items: center;
    font-size: 12px;
}
.contact-items-wrapper{
    padding: 25px;
}

.details h3 {
    text-align: center;
}

.details p {
    font-size: 15px;
    margin-left: 15px;
}

.details p a{
color: white;
}
.details p a:hover{
color: rgb(160, 154, 154);
}

.icons{
    width: 12px;
    margin: 5px;
}

input {
    margin: 5px 15px;
    height: 25px;
}

textarea {
    height: 150px;
    margin: 5px 15px;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 15px;
    width: 80px;
    background: #b900f7;
    padding: 3px 10px;
    border: 1px solid #b900f7;
    border-radius: 5px;
    color: rgb(27, 22, 22);
    font-size: 20px;
}
@media screen and (max-width:780px) {
    .contact-info {
    flex-direction: column;
    width: 90%;
}
form{
    width: 100%;
    margin-bottom: 5px;
}
.details{
    width: 100%;
}
}
footer{
    margin-top: 26.5vh;
    text-align: center;
}